body,html{
	margin: 0px auto;
	padding: 0px auto;
	font-size: 12px;
	font-family: sans-serif;
	width: 100%;
    height:100%;
	font-family: 'Indie Flower', cursive;
}
:root{
	--azulback:#334b6e;
}
@keyframes chamar{
	0% {
	opacity: 1;
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	}
	12.5%{
	color: white;
	border-color: white;
	background-color: var(--azulback);
	}
	25% {
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	}
	37.5%{
	color: white;
	border-color: white;
	background-color: var(--azulback);
	}
	50% {
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	}
	62.5%{
	color: white;
	border-color: white;
	background-color: var(--azulback);
	}
	75% {
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	}
	87.5%{
	color: white;
	border-color: white;
	background-color: var(--azulback);
	}
	100% {
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	opacity: 1;
	}
}
@keyframes chamarseta{
	0% {
	opacity: 1;
	border-color: var(--azulback) transparent transparent transparent;
	}
	12.5%{
	border-color: white transparent transparent transparent;
	}
	25% {
	border-color: var(--azulback) transparent transparent transparent;
	}
	37.5%{
	border-color: white transparent transparent transparent;
	}
	50% {
	border-color: var(--azulback) transparent transparent transparent;
	}
	62.5%{
	border-color: white transparent transparent transparent;
	}
	75% {
	border-color: var(--azulback) transparent transparent transparent;
	}
	87.5%{
	border-color: white transparent transparent transparent;
	}
	100% {
	opacity: 1;
	border-color: var(--azulback) transparent transparent transparent;
	}

}
@keyframes pulse{
	0% {
    transform: scale(1);
  }
  	50% {
    transform: scale(1.1);
  }
  	100% {
    transform: scale(1);
  }
}
@keyframes mexer{
	0% {
    transform: translateY(-20px);
  }

  	50% {
    transform: translateY(20px);
  }

  	100% {
    transform: translateY(-20px);
  }
}
#top{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
	background:cover;
	/*justify-items: center;
	align-items: center;*/
	grid-row-gap: 150px;
	overflow: hidden;
}
#box-carta{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: calc(50% - 150px);
	height: 300px;
	width: 300px;
	z-index: 1;
	perspective: 1000px;
}
#box-carta:hover .carta {
    transform: rotateY(180deg);
}
.cara {
  	position: absolute;
  	backface-visibility: hidden;
  	height: 300px;
	width: 300px;
	border-radius: 100%;
}
.carta{
	transform-style: preserve-3d;
 	transition: all 0.5s linear;
 	height: 300px;
	width: 300px;
	border-radius: 100%;
}
.frente {
	background:url(../img/nome2.png);
	background:cover;
	background-size: 300px 300px;
}

.detras{
	background:url(../img/nome4.png);
	background:cover;
	background-size: 300px 300px;
 	transform: rotateY(180deg);
}

.pulso{
	background-color:var(--azulback);
	height: 300px;
	width: 300px;
	border-radius: 100%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: calc(50% - 150px);
	opacity: 0.5;
	animation: pulse 2s ease infinite;
	z-index: 0;
}
.seta{
	background-image:url(../img/seta.png);
	height: 50px;
	width: 50px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: calc(100% - 70px);
	animation: mexer 1.5s ease infinite;
	z-index: 1;
}
.hei{
	height: 50px;
	width: 200px;
	content: "a";
	color: white;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: calc(50% - 220px);
	z-index: 1;
}
.textoHei{
	opacity: 0;
	height: 50px;
	width: 200px;
	border: 5px;
	border-style: solid; 
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: bold;
	font-size: 20px;
	color: var(--azulback);
	border-color: var(--azulback);
	background-color: white;
	animation: chamar 1.5s ease;
}
#setaHei{
	opacity: 0;
	position: relative;
	left: calc(50% - 4px);
	width:0px;
	height:0px;
	border-width: 8px; 
	border-style: solid; 
	border-color: var(--azulback) transparent transparent transparent;
	animation: chamarseta 1.5s ease;
}
#toggle{
	visibility: hidden;
	position: absolute;
}
#toggle:checked ~ #frase{
	    visibility: visible;
}

#box-carta:hover ~ #frase{
    visibility: visible;
}
#frase{
	visibility: hidden;
	transition: all 0.1s linear;
	display: block;
	justify-content: center;
	align-items: center;
	position: relative;
	top:25%;
	left: 25%;
	width: 80%;
	padding-right: 5px;
	padding-left: 5px;

}
#p{
	margin-top:10px;
	margin-bottom: 0px;
	margin-left: 5px;
	font-size: 13px;
	width: 70%;
	height: auto;
	background: var(--azulback); 
	color: white;
	text-align: center; 
	padding-top: 5px; 
	border-radius: 6px;
	display: flex;
	flex-direction: column; 

}   
#p span{
	font-size: 18px;
	color: white;
	text-transform: uppercase;
	text-shadow: black 0px 0px 5px;
} 
#seta1{
	content: " ";
	position: relative;
	left: calc(70% - 28px);
	width:0px;
	height:0px;
	border-width: 8px; 
	border-style: solid; 
	border-color: var(--azulback) transparent transparent transparent;
}
#seta2{
	content: " ";
	position: relative;
	left: calc(28px);
	width:0px;
	height:0px;
	border-width: 8px; 
	border-style: solid; 
	border-color: var(--azulback) transparent transparent transparent;
}   
#seta3{
	content: " ";
	position: relative;
	left: calc(70% - 28px);
	bottom: -10px;
	width:0px;
	height:0px;
	border-width: 8px; 
	border-style: solid; 
	border-color: transparent transparent var(--azulback) transparent;
}
#seta4{
	content: " ";
	position: relative;
	left: calc(28px);
	width:0px;
	height:0px;
	bottom: -10px;
	border-width: 8px; 
	border-style: solid; 
	border-color: transparent transparent var(--azulback) transparent;
}

section{
	height: 100%;
	width: 100%;
}
#conteudo{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
#texto{
	z-index: 2;
	background-color: #334b6e;
	height: 100%;
	width: 100%;
	order: 1;
}
#sobre{
	background-color: #334b6e;
	z-index: 1;
	position: absolute;
	left: 49%;
	height: 100%;
	width: 15%;
	transform: skew(8deg) translate(-45%);
}
#img{
	z-index: 0;
	height: 100%;
	width: 100%;
	order:2;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#conteudo:nth-child(even) #img{
	order:2;
}
#conteudo:nth-child(even) #texto{
	order:1;
}
#conteudo:nth-child(odd) #img{
	order:1;
}
#conteudo:nth-child(odd) #texto{
	order:2;
}
#conteudo:nth-child(odd) #sobre{
	transform: skew(-8deg) translate(-45%);
}
#texto h2{
	text-align: center;
	font-style: bold;
	letter-spacing: 2.5px;
	font-size: 25px;
	color: white;
	text-transform: uppercase;
}
#texto #textoAbout{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: justify;
	letter-spacing: 1px;
	font-size: 15px;
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}